# Chapter 3 : Built-In Data Structures, Functions, and Files

In [1]:
import numpy as np

## 3.1: Data Structures and Sequences

### Tuple

In [2]:
tup=(4,5,6)
tup

(4, 5, 6)

In [3]:
tup=4,5,6
tup

(4, 5, 6)

In [4]:
tuple([4,0,2])

(4, 0, 2)

In [5]:
tup=tuple("string")
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

's'

In [7]:
nested_tup=(4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [8]:
nested_tup[0]

(4, 5, 6)

In [9]:
nested_tup[1]

(7, 8)

In [10]:
tup=tuple(['foo',[1,2],True])
tup

('foo', [1, 2], True)

In [11]:
tup[1]

[1, 2]

In [12]:
tup[2]

True

In [13]:
#tup[2]=False

In [14]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [15]:
(4,None,'Foo')+(6,0)+('bar',)

(4, None, 'Foo', 6, 0, 'bar')

In [16]:
a=(4,None,(5,6))+('bar',6,0)
a

(4, None, (5, 6), 'bar', 6, 0)

In [17]:
len(a)

6

In [18]:
a[2]

(5, 6)

In [19]:
('foo',67)*4

('foo', 67, 'foo', 67, 'foo', 67, 'foo', 67)

In [20]:
tup=(4,5,(5,))
tup

(4, 5, (5,))

In [21]:
a,b,c=tup
c

(5,)

In [22]:
tup=4,5,(5,6)
a,b,(c,d)=tup

In [23]:
a
b
c
d

4

5

5

6

In [24]:
tmp=a
a
tmp

4

4

In [25]:
a=b
a
b
tmp

5

5

4

In [26]:
a,b=1,2
b,a=a,b
a
b

2

1

In [27]:
seq=[(1,2,3),(4,5,6),(7,8,0)]

for a,b,c in seq:
    print(f"a={a},b={b},c={c}!")

a=1,b=2,c=3!
a=4,b=5,c=6!
a=7,b=8,c=0!

In [28]:
values=1,2,3,4,5
a,b,*rest=values
a
b
rest

1

2

[3, 4, 5]

In [29]:
values=1,2,3,4,5
a,b,*hello=values
a
b
hello

1

2

[3, 4, 5]

In [30]:
a,b,*_=values
a
b
_

1

2

[3, 4, 5]

In [31]:
a=[1,2,2,2,3,4,2]
a=(1,2,3,2,3,4,2)
a.count(2)

3

### List

In [32]:
a_list=[2,3,4,None]
tup=("foo","bar",("h","e"),"baz")

In [33]:
a_list

[2, 3, 4, None]

In [34]:
b_list=list(tup)
b_list

['foo', 'bar', ('h', 'e'), 'baz']

In [35]:
b_list[2]

('h', 'e')

In [36]:
b_list[2]="peekaboo"
b_list

['foo', 'bar', 'peekaboo', 'baz']

In [37]:
gen=range(10)
gen

range(0, 10)

In [38]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
b_list.append("dwarf")

In [40]:
b_list

['foo', 'bar', 'peekaboo', 'baz', 'dwarf']

In [41]:
b_list.insert(1,"red")

In [42]:
b_list

['foo', 'red', 'bar', 'peekaboo', 'baz', 'dwarf']

In [43]:
b_list.pop(2)

'bar'

In [44]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [45]:
b_list.append("foo")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'foo']

In [46]:
b_list.remove("foo")
b_list

['red', 'peekaboo', 'baz', 'dwarf', 'foo']

In [47]:
"dwarf" in b_list

True

In [48]:
[3,None,"a"]+[1,2,True]

[3, None, 'a', 1, 2, True]

In [49]:
x=[4,None,"foo"]
x.extend([67,8,(2,3),True,[1,2,3]])
x

[4, None, 'foo', 67, 8, (2, 3), True, [1, 2, 3]]

In [50]:
list_of_lists=[[3,4],[3,4,5],(7,8)]

everything=[]

for chunk in list_of_lists:
    print(chunk)
    everything.extend(chunk)
    print(everything)

[3, 4]
[3, 4]
[3, 4, 5]
[3, 4, 3, 4, 5]
(7, 8)
[3, 4, 3, 4, 5, 7, 8]

In [51]:
a=[7,2,5,1,2]
a.sort()
a

[1, 2, 2, 5, 7]

In [52]:
b=["saw","hi","hello","bee"]
b.sort(key=len)
b

['hi', 'saw', 'bee', 'hello']

In [53]:
seq=[7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [54]:
seq[3:5]

[7, 5]

In [55]:
seq[3:5]=[6,3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [56]:
seq[:5]

[7, 2, 3, 6, 3]

In [57]:
seq[3:]

[6, 3, 6, 0, 1]

In [58]:
seq[-4:]

[3, 6, 0, 1]

In [59]:
seq[-6:-2]

[3, 6, 3, 6]

In [60]:
seq[::2]

[7, 3, 3, 0]

In [61]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

### Dictionary

In [62]:
empty_dict={}
empty_dict

{}

In [63]:
type(empty_dict)

dict

In [64]:
d1={"a":"some value","b":[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [65]:
d1["a"]

'some value'

In [66]:
d1[7]="an integer"

In [67]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [68]:
d1[7]

'an integer'

In [69]:
"b" in d1

True

In [70]:
d1[5]="some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [71]:
d1["dummy"]="another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [72]:
del d1[5]

In [73]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [74]:
d1.pop("dummy")
d1

'another value'

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [75]:
d1.keys()
list(d1.keys())

dict_keys(['a', 'b', 7])

['a', 'b', 7]

In [76]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [77]:
d1.items()

dict_items([('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')])

In [78]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [79]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [80]:
d1.update({"b":"foo","c":12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [81]:
mapping={}
for key,value in zip(range(5),reversed(range(5))):
    mapping[key]=value

In [82]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [83]:
tuples=zip(range(7),range(9))

In [84]:
tuples

In [85]:
dict(tuples)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [86]:
type(mapping)

dict

In [87]:
mapping.get(7,"NO")

'NO'

In [88]:
some_dict={'apple':'a','bat':'b','cat':'c','atom':'a','book':'b'}

In [89]:
some_dict

{'apple': 'a', 'bat': 'b', 'cat': 'c', 'atom': 'a', 'book': 'b'}

In [90]:
some_dict['apple']

'a'

In [91]:
some_dict.get('a',2)
some_dict.get('apple',2)

2

'a'

In [92]:
some_dict.get('a')

In [93]:
some_dict

{'apple': 'a', 'bat': 'b', 'cat': 'c', 'atom': 'a', 'book': 'b'}

In [94]:
words=["apple","bat","bar","atom","book"]
words

['apple', 'bat', 'bar', 'atom', 'book']

In [95]:
by_letter={}

for word in words:
    letter=word[0]
    print(letter)
    if letter not in by_letter:
        by_letter[letter]=word
    print(by_letter)

a
{'a': 'apple'}
b
{'a': 'apple', 'b': 'bat'}
b
{'a': 'apple', 'b': 'bat'}
a
{'a': 'apple', 'b': 'bat'}
b
{'a': 'apple', 'b': 'bat'}

In [96]:
by_letter={}
for word in words:
    letter=word[0]
    print(letter)
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)
    print(by_letter)

a
{'a': ['apple']}
b
{'a': ['apple'], 'b': ['bat']}
b
{'a': ['apple'], 'b': ['bat', 'bar']}
a
{'a': ['apple', 'atom'], 'b': ['bat', 'bar']}
b
{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [97]:
a=list[1]
a
b=[1]
b
type(b)

list[1]

[1]

list

In [98]:
a={}
a['1']=2
a
type(a)

{'1': 2}

dict

In [99]:
by_letter={}

for word in words:
    letter=word[0]
    print(letter)
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)
    print(by_letter)

a
{'a': ['apple']}
b
{'a': ['apple'], 'b': ['bat']}
b
{'a': ['apple'], 'b': ['bat', 'bar']}
a
{'a': ['apple', 'atom'], 'b': ['bat', 'bar']}
b
{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [100]:
by_letter={}
words

['apple', 'bat', 'bar', 'atom', 'book']

In [101]:
for word in words:
    letter=word[0]
    by_letter.setdefault(letter,[]).append(word)
    by_letter

{'a': ['apple']}

{'a': ['apple'], 'b': ['bat']}

{'a': ['apple'], 'b': ['bat', 'bar']}

{'a': ['apple', 'atom'], 'b': ['bat', 'bar']}

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [102]:
from collections import defaultdict

In [103]:
by_letter=defaultdict(list)
by_letter

defaultdict(list, {})

In [104]:
len(by_letter)

0

In [105]:
for word in words:
    by_letter[word[0]].append(word)

In [106]:
len(by_letter)

2

In [107]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [108]:
hash("string")

446765299078071380

In [109]:
hash(9)

9

In [110]:
hash([1,2,2])

TypeError: unhashable type: 'list'

In [ ]:
hash(([1,2,2]))

TypeError: unhashable type: 'list'

In [ ]:
d={}

In [ ]:
tuple([1,2,[3,4]])

(1, 2, [3, 4])

In [ ]:
d[tuple([1,2,tuple([3,4])])]=5

In [ ]:
d

{(1, 2, (3, 4)): 5}

### Set

In [ ]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [ ]:
{2,2,2,1,3,3}

{1, 2, 3}

In [ ]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

In [ ]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.intersection(b)

{3, 4, 5}

In [ ]:
a&b

{3, 4, 5}

In [ ]:
a-b

{1, 2}

In [ ]:
b-a

{6, 7, 8}

In [ ]:
a-b==b-a

False

In [ ]:
a^b

{1, 2, 6, 7, 8}

In [ ]:
a.issubset(b)

False

In [ ]:
b.issubset(a)

False

In [ ]:
c=a.copy()
c

{1, 2, 3, 4, 5}

In [ ]:
b

{3, 4, 5, 6, 7, 8}

In [ ]:
c|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
c|=b

In [ ]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
b

{3, 4, 5, 6, 7, 8}

In [ ]:
my_data=[1,2,3,4]

In [ ]:
hash(my_data)

TypeError: unhashable type: 'list'

In [ ]:
my_set=tuple(my_data)

In [ ]:
my_set

(1, 2, 3, 4)

In [ ]:
my_set={my_set}

In [ ]:
my_set

{(1, 2, 3, 4)}

In [ ]:
a_set={1,2,3,4,5}
{1,2,3}.issubset(a_set)
a_set.issuperset({1,2,3})

True

True

In [ ]:
{1,2,3}=={3,2,1}

True

### Built-In Sequence Functions

In [ ]:
index=0
collection=["a","b","c"]
for value in collection:
    print(value)
    index+=1
    index

a

1

b

2

c

3

In [ ]:
enumerate(collection)

In [ ]:
print(enumerate(collection))

<enumerate object at 0x00000281CB7D6F70>

In [ ]:
list(enumerate(collection))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [ ]:
hash(enumerate(collection))

172280768497

In [ ]:
for index,value in enumerate(collection):
    print(index,value)

0 a
1 b
2 c

In [ ]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [ ]:
sorted("horse race 12")

[' ', ' ', '1', '2', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [ ]:
seq1=["foo","bar","baz"]
seq2=["one","two","three"]
zip(seq1,seq2)

In [ ]:
list(zip(seq1,seq2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
seq3=[False,True]

In [ ]:
list(zip(seq1,seq3,seq2))

[('foo', False, 'one'), ('bar', True, 'two')]

In [ ]:
list(enumerate(zip(seq1,seq2)))

[(0, ('foo', 'one')), (1, ('bar', 'two')), (2, ('baz', 'three'))]

In [ ]:
for index,(a,b) in enumerate(zip(seq1,seq2)):
    print(f"index is {index}: a is {a}, b is {b}")

index is 0: a is foo, b is one
index is 1: a is bar, b is two
index is 2: a is baz, b is three

In [ ]:
reversed(range(10))

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### List, Set, and Dictionary Comprehnsions

result=[]
for value in collection:
    if condition:
        result.append(expr)

In [ ]:
#[expr for value in collection if condition]

In [ ]:
strings=["a","as","bat","car","dove","python"]

In [ ]:
strings

['a', 'as', 'bat', 'car', 'dove', 'python']

In [ ]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [ ]:
{len(x) for x in strings}

{1, 2, 3, 4, 6}

In [ ]:
[len(x) for x in strings]

[1, 2, 3, 3, 4, 6]

In [ ]:
type({len(x) for x in strings})

set

In [ ]:
{value:index for index,value in enumerate(strings)}

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [ ]:
all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [ ]:
names_of_interest=[]

In [ ]:
for names in all_data:
    enough_as=[name for name in names if name.count("a")>=1]
    names_of_interest.extend(enough_as)

In [ ]:
names_of_interest

['Michael', 'Mary', 'Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']

In [ ]:
###NESTED LIST COMPREHNSIONS###

In [111]:
all_data=[["John","Emily","Michael","Mary","Steven"],
          ["Maria","Juan","Javier","Natalia","Pilar"]]

In [112]:
all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [118]:
names_of_interest=[]
for names in all_data:
    enough_as=[name for name in names if name.count("a")>=2]
    names_of_interest.extend(enough_as)
    names_of_interest

[]

['Maria', 'Natalia']

In [119]:
result=[name for names in all_data for name in names if name.count("a")>=2]
result

['Maria', 'Natalia']

In [120]:
# the way to understand nested list comprehension is evaluate outer loop first then inner loop
# so in the example above I look at names in all_data, which are ["John",...] & ["Maria",...]
# each of those sublists are called names and they are found in all data
# and then the inner loop looks at each name in names so each name in the sublist

In [122]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened=[x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
flattened=[]
for tup in some_tuples:
    for x in tup:
        flattened.append(x)
        flattened

[1]

[1, 2]

[1, 2, 3]

[1, 2, 3, 4]

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [127]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2 Functions

In [130]:
def my_function(x,y):
    return x+y

In [131]:
my_function(1,2)

3

In [132]:
def function_without_return(x):
    print(x)

In [133]:
function_without_return("hello!")

hello!

In [134]:
result=function_without_return("hello!")

hello!

In [135]:
result

In [136]:
def my_function2(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [138]:
my_function2(5,6)

16.5

In [139]:
my_function2(5,6,z=0.7)

0.06363636363636363

In [140]:
my_function2(3.14,7,3.5)

35.49

In [141]:
my_function2(10,20)

45.0

### Names, Scope, and Local Functions

In [142]:
def func():
    a=[]
    for i in range(5):
        a.append(i)

In [143]:
func()

In [144]:
a=[]

def func():
    for i in range(5):
        a.append(i)

In [146]:
func()

In [147]:
a

[0, 1, 2, 3, 4]

In [148]:
func()

In [149]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [150]:
a=None

In [151]:
def bind_a_variable():
    global a
    a=17

In [152]:
a

In [153]:
bind_a_variable()

In [154]:
a

17

### Returning Multiple Values

In [155]:
def f():
    a=5
    b=6
    c=7
    return a,b,c

In [156]:
f()

(5, 6, 7)

In [157]:
a,b,c=f()

In [158]:
a
b
c

5

6

7

In [159]:
return_value=f()

In [160]:
return_value

(5, 6, 7)

In [161]:
def f():
    a=5
    b=6
    c=7
    return {"a":a,"b":b,"c":c}

In [162]:
f()

{'a': 5, 'b': 6, 'c': 7}

### Functions are Objects

In [164]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
           "south   carolina##", "West virginia?"]

In [165]:
states

['   Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina##',
 'West virginia?']

In [166]:
import re

In [168]:
def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub("[!#?]","",value)
        value=value.title()
        result.append(value)
    return(result)

In [167]:
a="alabamaaa   "
a.strip()

'alabamaaa'

In [169]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [170]:
def remove_punctuation(value):
    return re.sub("[!?#]","",value)

In [171]:
remove_punctuation("Hell?o")

'Hello'

In [172]:
clean_ops=[str.strip,remove_punctuation,str.title]

In [173]:
clean_ops

[<method 'strip' of 'str' objects>,
 <function __main__.remove_punctuation(value)>,
 <method 'title' of 'str' objects>]

In [174]:
def clean_strings(strings,ops):
    result=[]
    for value in strings:
        for func in ops:
            value=func(value)
        result.append(value)
    return(result)

In [175]:
clean_strings(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [177]:
for x in map(remove_punctuation,states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [178]:
list(map(remove_punctuation,states))

['   Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

### Anonymous (Lambda) Functions

In [179]:
def short_function(x):
    return x*2

In [180]:
short_function(3)

6

In [181]:
equiv_anon=lambda x: x*2

In [182]:
equiv_anon(3)

6

In [185]:
def apply_to_list(some_list,f):
    return[f(x) for x in some_list]

In [184]:
ints=[4,0,1,5,6]

In [186]:
apply_to_list(ints,lambda x:x*2)

[8, 0, 2, 10, 12]

In [187]:
[x*2 for x in ints]

[8, 0, 2, 10, 12]

In [204]:
strings=["foo","card","bar","aaaa","abab"]

In [193]:
strings.sort()

In [194]:
strings

['aaaa', 'abab', 'bar', 'card', 'foo']

In [197]:
strings.sort(key=lambda x:len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [200]:
def srt_func(x):
    return(len(set(x)))

In [201]:
srt_func(strings)

5

In [205]:
list(map(srt_func,strings))

[2, 4, 3, 1, 2]

### Generators

In [206]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [212]:
dict_iterator=iter(some_dict)

In [208]:
dict_iterator

In [209]:
min(dict_iterator)

'a'

In [210]:
dict_iterator

In [213]:
list(dict_iterator)

['a', 'b', 'c']

In [230]:
def squares(n=10):
    print(f"Generating squares from 1 to {n**2}")
    for i in range(1,n+1):
        yield i**2

In [231]:
gen=squares()

In [232]:
for x in gen:
    print(x)

Generating squares from 1 to 100
1
4
9
16
25
36
49
64
81
100

In [233]:
gen=(x**2 for x in range(100))
gen

In [234]:
def make_gen():
    for x in range(100):
        yield x**2

In [235]:
gen=make_gen()

In [236]:
gen

In [240]:
sum([x**2 for x in range(100)])

328350

In [241]:
sum(x**2 for x in range(100))

328350

In [244]:
dict(([(i,i**2) for i in range(5)]))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [245]:
dict((i,i**2) for i in range(10))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [246]:
import itertools

In [247]:
def first_letter(x):
    return x[0]

In [255]:
names=["Alan","Adams","Wes","Will","Albert","Steven"]

In [253]:
for letter,names in itertools.groupby(names,first_letter):
    print(letter,list(names))

A ['Alan', 'Adams']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [256]:
list(map(first_letter,names))

['A', 'A', 'W', 'W', 'A', 'S']

### Errors and Exception Handling

In [257]:
float("1.2345")

1.2345

In [258]:
float("something")

ValueError: could not convert string to float: 'something'

In [259]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return(x)

In [260]:
attempt_float("1.2345")

1.2345

In [261]:
attempt_float("something")

'something'

In [262]:
float((1,2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [263]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return(x)

In [264]:
attempt_float("1.2334")
attempt_float("something")
attempt_float((1,2))

1.2334

'something'

TypeError: float() argument must be a string or a real number, not 'tuple'

In [265]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError,ValueError):
        return(x)

In [266]:
attempt_float("1.2345")
attempt_float("something")
attempt_float((2,2))

1.2345

'something'

(2, 2)

In [273]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return "Fail"
    else:
        return "Success"
    finally:
        return "Done"

In [274]:
attempt_float("1.23")

'Done'

In [277]:
def divide_numbers(a, b):
    try:
        # Try to execute this block of code
        result = a / b
    except ZeroDivisionError as e:
        # Execute this block if a ZeroDivisionError occurs in the try block
        print(f"Error: Cannot divide by zero. ({e})")
        result = None
    else:
        # Execute this block if no exception occurs in the try block
        print("Division was successful.")
    finally:
        # Execute this block no matter what (whether an exception occurred or not)
        print("Execution of the try-except block has finished.")
    
    return result

# Examples of calling the function
print("Example 1:")
result1 = divide_numbers(10, 2)
print(f"Result: {result1}\n")

print("Example 2:")
result2 = divide_numbers(10, 0)
print(f"Result: {result2}\n")

Example 1:
Division was successful.
Execution of the try-except block has finished.
Result: 5.0

Example 2:
Error: Cannot divide by zero. (division by zero)
Execution of the try-except block has finished.
Result: None

it tries, if that works it goes to else
if not, it goes to except
and always goes to finally at the end

## 3.3 Files and the Operating System